* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
}

body {
    background-color: #bed2c5;
}

main {
    display: flex;
    justify-content: space-between;
}

#form {
    height: 100vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 50px 0px 50px;
    gap: 10px;
}

#bg-image {
    background-image: url("../images/background.png");
    height: 100vh;
    width: 70vw;
    background-size: cover;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-item {
    display: flex;
    flex-direction: column;
}

#password-area {
    display: flex;
    justify-content: space-between;
}

input {
    padding: 15px;
    font-size: 20px;
    border: 1px solid black;
    background-color: white;
}

button {
    padding: 10px;
    cursor: pointer;
    font-size: 15px;
    border: 1px solid black;
    background-color: white;
}

button:hover {
    background-color: #A34B48;
}

a {
    text-decoration: none;
    color: #A34B48;
}

a:hover {
    text-decoration: underline;
}